@charset "UTF-8";

*{
	list-style: none;
}

.footer_wrap {
	display: flex;
	float: left;
}

.footer_list_wrap {
	width: 170px;
	padding-bottom: 50px;
}

 .footer_company_wrap {
	width: 170px;
	padding-bottom: 50px;
}

.footer_customer_wrap {
	width: 170px;
	padding-bottom: 50px;
}

.footer_title {
	font-weight: bold;
}



