@charset "UTF-8";

a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
}

.header_wrap {
	border: 1px solid #333;
	margin-bottom: 40px;
}

.header_container {
	padding-top: 20px;
	display: flex;
	justify-content: inherit;
	position: relative;
}

.header_logo {
	width: 11.875rem;
	margin-left: 0;
	float: left;
}

.h_navbar_wrap {
	width: auto;
	text-align: center;
}

.h_menu {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom:15px;
	float: left;
}

.h_menu a{
	font-weight: bold;
	font-size: 1.0625rem;
}

.login_success_wrap {
	height: 62%;
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    padding-top: 5%;
}

.login_success_wrap>span{
 	display : block;
    text-align: left;
    margin-left: 10%;
}
