@charset "UTF-8";

body {
	background-color: #e9f0f7;
}



a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
}

.header_wrap {
	border: 1px solid #333;
	margin-bottom: 40px;
}

.header_container {
	display: flex;
	justify-content: inherit;
	position: relative;
	background: #30425c;
}

.header_logo {
	width: 150px;
	margin-left: 30px;;
	float: left;
	color: white;
}

.h_navbar_wrap {
	display: block;
	text-align: center;
	vertical-align: middle;
	padding-top: 20px;
}

.h_navbar_menu {
	display: block;
	text-align: center;
	vertical-align: middle;
}

.h_menu {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom:15px;
	float: left;
}

.h_menu a{
	font-weight: bold;
	font-size: 1.0625rem;
	color: white;
}

.login_success_wrap {
	height: 62%;
    width: 80%;
    border: 2px solid #7474ad;
    border-radius: 15px;
    margin: 5% auto;
    padding-top: 5%;
}

.login_success_wrap>span{
 	display : block;
    text-align: left;
    margin-left: 10%;
}
